streamlit
matplotlib
numpy==1.26.4
scipy==1.12.0
pandas==2.2.0
scikit-learn==1.3.2
statsmodels==0.14.1
imbalanced-learn==0.12.0
joblib
boto3==1.34.34
botocore==1.34.34
sagemaker==2.214.0
shap
requests
yfinance
pandas-datareader
